@CHARSET "UTF-8";

#wrapper {
	width: 1135px;
	margin: 10px auto;
	text-align: center;
	-moz-box-shadow: 0px 0px 24px 12px rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0px 0px 19px 4px rgba(0, 0, 0, 0.19);
	box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	overflow: auto;
}

.row {
	float: left;
	height: 100%;
	line-height: 40px;
}

.course-item,#header-list {
	width: 97%;
	height: 40px;
	margin: 5px auto;
}

.id {
	width: 50px;
}

.name {
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 110px;
	overflow: hidden;
}

.axoid {
	width: 200px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 180px;
	overflow: hidden;
}

.mod,.proc,.index {
	width: 155px;
}

.status img {
	width: 30px;
	margin-top: 5px;
}

.message {
	width: 216px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.launch-button {
	width: 100%;
}

.header-status {
	margin-left: -3px;
	width: 100px;
}

.status.row {
	width: 43px;
}

#header-list .row {
	font-weight: bold;
}

#course-list {
	margin-top: 40px;
	margin-bottom: 30px;
}

.button {
	display: block;
	margin: 20px;
	float: left;
}

#shell-output {
	width: 900px;
	margin: 35px auto;
}

input[type="checkbox"] {
	float: left;
	margin: 12px 10px 0px 5px;
}

.select.row {
	width: 28px;
}
